<nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Meme Gallery', user_pictures_path, class: "waves-effect waves-light btn" %></li>
        <li><%= link_to 'New Picture', new_picture_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
</nav>
      <br>

<div class="row center-align">
  <div class="col s12">
    <h5>All The Memes All The Time</h5>
  </div>
</div>
<div class="container">
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
  </div>
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
  </div>
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "", class: "responsive-img" %></span>
       </div>
  </div>
</div>

<footer class="page-footer">
      <div class="container">
      </div>
    </div>
</footer>
