<div class="row">

  <div class="col s6">
  </div>
  <div class="col s6">
    <h1 class="center-align">Add a New Meme</h1>
    <div class="container">

        <%= form_for @picture do |f| %>
        <%= render '/pictures/errors', object: @picture %>

        <div class="col s12">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="col s12">
          <%= f.label :image %>
          <%= f.file_field :image, class: 'form-control'%>
        </div>
        <div>
      <a class="waves-effect waves-light btn left"><%= f.submit 'upload', class: "form-control" %></a>
      <i class="medium material-icons right"><%= link_to 'home', root_path %></i>
        </div>
          <% end %>
    </div>
  </div>

</div>
