<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <%= image_tag @picture.image.url %>
</p>

<%= link_to 'edit', edit_picture_path(@picture), class: "waves-effect waves-light btn" %>
<%= link_to 'home', root_path, class: "waves-effect waves-light btn" %>
<%= link_to 'Meme Gallery', user_pictures_path, class: "waves-effect waves-light btn" %>
